.boxed > div {
	box-sizing: border-box;
	border: 1px solid black;
}
#timeline {
	height: 40vh;
}
#bigraph {
    height: 60vh;
}
#info_box {
    height: 50vh;
}
.pad-1 {
	padding: .5em;
}
.my-custom-scrollbar {
	position: relative;
	height: 180px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}
