.boxed > div {
	box-sizing: border-box;
	border: 1px solid black;
}
.custom-pure-button {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.top {
	height: 42vh;
}
.mid {
    height: 54vh;
}
.bot {
	height: 4vh;
}
.pad-1 {
	padding: .5em;
}
.tpad-1 {
	padding-top: .5em;
}
.lpad-1 {
	padding-left: .7em;
}
.rmargin-1 {
	margin-right: .5em;
}
.my-custom-scrollbar {
	position: relative;
	max-height: 45vh;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}
.my-custom-scrollbar2 {
	position: relative;
	height: 54vh;
	overflow: auto;
}
