.boxed > div {
	box-sizing: border-box;
	border: 1px solid black;
}
.top {
	height: 42vh;
}
.mid {
    height: 54vh;
}
.pad-1 {
	padding: .5em;
}
.tpad-1 {
	padding-top: .5em;
}
.lpad-1 {
	padding-left: .7em;
}
.my-custom-scrollbar {
	position: relative;
	max-height: 45vh;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}
.my-custom-scrollbar2 {
	position: relative;
	height: 52vh;
	overflow: auto;
}
